<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="ExpenseManagement.UserServiceClass" behaviorConfiguration="metadataSupport">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ExpenseManagement/UserService/"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="ExpenseManagement.IUserService"/>
			</service>



			<service name="ExpenseManagement.PaymentServiceClass" behaviorConfiguration="metadataSupport">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ExpenseManagement/PaymentService/"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="ExpenseManagement.IPaymentService"/>
			</service>


			<service name="ExpenseManagement.ExpenseServiceClass" behaviorConfiguration="metadataSupport">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ExpenseManagement/ExpenseService/"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="ExpenseManagement.IExpenseService"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadataSupport">
					<serviceMetadata httpGetEnabled="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>